/* Variables */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.4em;
}

html,
body {
  height: 100%;
}

.pad {
  padding-right: 35px;
  padding-left: 35px;
}

hr {
  margin-right: 20px;
  margin-left: 20px;
}

#logs>hr {
  margin-right: 0px;
  margin-left: 0px;
}
#disconnect-reader-button {
  background-color: indianred;
  color: white;
}
.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.radio-wrapper-12 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}

.radio-wrapper-12 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-wrapper-12 label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 150px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.radio-wrapper-12 label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  border: 2px solid transparent;
}
.radio-wrapper-12 label:hover::before {
  transition: all 0.2s ease;
  background-color: #F5F6FA;
}

.radio-wrapper-12 label:has(input:checked)::before {
  background-color: #E1E9FF;
  border-color: #435dd8;
  height: 50px;
}
.radio-wrapper-12 label .text {
  color: #333;
}

.radio-wrapper-12 label input[type="radio"] {
  background-color: #D9D9E5;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
}
.radio-wrapper-12 label input[type="radio"]:checked {
  background-color: #435dd8;
  -webkit-animation: pulse-12 0.7s forwards;
  animation: pulse-12 0.7s forwards;
}
#reader-type-header {
  padding-left:20px;
  margin-top: 15px;
}

.radio-wrapper-12 label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.radio-wrapper-12 label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse-12 {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
  }
}

.checkbox-label {
  padding-left: 5px;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}

.fixed-bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.right-arrow {
  height: -webkit-fill-available;
  float: right;
}

.spinner {
  width:30px;
  height:30px;
  border:3px solid #666;
  border-top:3px solid white;
  border-radius:50%;
  position: absolute;
  right: 50px;
  top: 12px;
  display: none;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  transition-duration: 1.2s;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading .spinner {
  display: block;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.margin {
  margin-top: 15px;
}

.title {
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 15px;
  font-weight: 500;
  color: #525f7f;
}

.log-col {
  overflow-y: scroll;
}

#logs {
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: black;
}

.offset {
  background: #f7fafc;
}

.green {
  color: #09825d;
}

.log-title {
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 10px;
}

.log {
  padding-left: 15px;
}

pre {
  color: #585050 !important;
}

button {
  color: black;
  padding: 16px;
  border: 0;
  background: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  width: 100%;
  height: 54px;
  border-radius: 6px !important;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  box-shadow: 0px 7px 14px rgba(60, 66, 87, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.08);
  position: relative;
}

.input-icon {
  position: relative;
  border-radius: 4px;
}

.input-icon>i {
  position: absolute;
  border-radius: 4px;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon>input {
  border-radius: 4px;
  border: 1px solid #E3E8EE;
  width: 100%;
  height: 40px;
  color: black;
  font-size: 16px;
  font-weight: normal;
  padding-left: 25px;
  padding-right: 0;
}